{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipping Information</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/authentication.css' %}">
  </head>
  <body>
    <div class="login-container">
      <form method="post">
        {% csrf_token %}
        <div class="card shadow-lg p-4">
          <h2 class="text-center mb-4 login-register-heading">Shipping Information</h2>
          <hr>

          {% if messages %}
            <div class="alert alert-primary" role="alert">
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </div>
          {% endif %}

          <div class="form-group">
            <label for="shipping_full_name">Full Name</label>
            <input type="text" class="form-control" name="shipping_full_name" id="shipping_full_name" value="{{ user.first_name }} {{ user.last_name }}" placeholder="Enter Full Name">
          </div>

          <div class="form-group">
            <label for="shipping_email">Email Address</label>
            <input type="email" class="form-control" name="shipping_email" id="shipping_email" value="{{ user.email }}" placeholder="Enter Email Address">
          </div>

          <div class="form-group">
            <label for="shipping_phone_number">Phone Number</label>
            <input type="text" class="form-control" name="shipping_phone_number" id="shipping_phone_number" value="{{ user.profile.phone }}" placeholder="Enter Phone Number">
          </div>

          <div class="form-group">
            <label for="shipping_address">Address</label>
            <input type="text" class="form-control" name="shipping_address" id="shipping_address" value="{{ user.profile.address1 }} {{ user.profile.address2 }}" placeholder="Enter Shipping Address">
          </div>

          <div class="form-group">
            <label for="shipping_city">City</label>
            <input type="text" class="form-control" name="shipping_city" id="shipping_city" value="{{ user.profile.city }}" placeholder="Enter City">
          </div>

          <div class="form-group">
            <label for="shipping_state">State</label>
            <input type="text" class="form-control" name="shipping_state" id="shipping_state" value="{{ user.profile.state }}" placeholder="Enter State">
          </div>

          <div class="form-group">
            <label for="shipping_zipcode">Zipcode</label>
            <input type="text" class="form-control" name="shipping_zipcode" id="shipping_zipcode" value="{{ user.profile.zipcode }}" placeholder="Enter Zipcode">
          </div>

          <div class="form-group">
            <label for="shipping_country">Country</label>
            <input type="text" class="form-control" name="shipping_country" id="shipping_country" value="{{ user.profile.country }}" placeholder="Enter Country">
          </div>

          <button type="submit" class="btn btn-primary btn-block">Save Shipping Info</button>

          <div class="text-center mt-3">
            <p><a href="/" class="btn btn-link">Go Back</a></p>
          </div>
        </div>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
